DISCORD_TOKEN=YOUR_DISCORD_BOT_TOKEN
CLIENT_ID=YOUR_DISCORD_APPLICATION_ID
GUILD_ID=YOUR_DISCORD_SERVER_ID

PLAYFAB_TITLE_ID=YOUR_PLAYFAB_TITLE_ID
PLAYFAB_SECRET_KEY=YOUR_PLAYFAB_SECRET_KEY
PLAYFAB_CATALOG_VERSION=Catalogs

MOD_ROLE_IDS=YOUR_DREAM_OVERSEER_ROLE_ID,YOUR_DREAM_WARDEN_ROLE_ID,YOUR_DREAM_WATCHER_ROLE_ID
